name: miranda
channels:
  - conda-forge
dependencies:
  - python >=3.13,<3.14
  # Docs
  - distributed >=2.0
  - furo >=2023.07.26
  - ipykernel
  - ipython >=8.15.0
  - nbsphinx >=0.9.8
  - sphinx >=8.2
  - sphinx-codeautolink >=0.16.2
  - sphinx-copybutton
  - sphinx-intl
  - sphinx-mdinclude
