cftime
clisops
dask
fiona
geojson
h5netcdf
netCDF4
numpy
geopandas
openpyxl
pandas
pint <0.20 # Temporary pin. See: https://github.com/Ouranosinc/xclim/issues/1211
pyessv
pyproj
pyyaml
rasterio
schema
shapely
xarray
xclim
zarr
