cdsapi
cftime
clisops
custom-inherit>=2.3.0
dask
distributed
ecmwf-api-client
fabric
fiona
geojson
geopandas
h5netcdf
netCDF4
numpy
pandas
paramiko>=2.6.0
pint
h5netcdf
cdsapi
ecmwf-api-client
schema
pyproj
rasterio
requests
regionmask
rioxarray
scp
shapely
xarray
xclim
zarr
