fabric
paramiko>=2.6.0
scp
custom-inherit>=2.3.0
cftime
numpy
requests
netCDF4
xarray
rioxarray
dask
distributed
fiona
rasterio
shapely
pyproj
geojson
pandas
geopandas
pint
h5netcdf
cdsapi
ecmwf-api-client
schema
